ad3==2.2.1
click==8.0.1
colorama==0.4.4
cvxopt==1.2.6
decorator==4.4.2
importlib-metadata==4.6.1
joblib==0.14.1
networkx==2.0
nltk==3.6.2
numpy==1.19.5
pystruct==0.3.2
regex==2021.7.6
scikit-learn==0.20.4
scipy==1.2.3
tqdm==4.61.2
typing-extensions==3.10.0.0
zipp==3.5.0